#home {
  position: relative;

  .app__wrapper {
    padding: 0;
  }
  .copyright {
    display: none;
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;
  position: relative;
  .backgroundSvg {
    position: absolute;
    left: 565px;
    right: 0;
    bottom: -180px;
    z-index: 0;
    height: 90%;
    overflow-x: hidden;

    @media screen and (min-width: 1600px) {
      left: 450px;
      right: 0;
      bottom: -180px;
      svg {
        width: 1112px;
        height: 259px;
      }
    }

    @media screen and (max-width: 1200px) {
      left: 220px;

      bottom: -150px;
      svg {
        width: 792px;
        height: 200px;
      }
    }
    @media screen and (max-width: 1024px) {
      left: 150px;

      bottom: -150px;
    }
    @media screen and (max-width: 768px) {
      left: 0px;

      bottom: -150px;
    }
    @media screen and (max-width: 450px) {
      left: -120px;

      bottom: -150px;
      svg {
        width: 612px;
        height: 159px;
      }
    }
  }

  @media screen and (min-width: 1600px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}
.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  color: var(--dark-navy-bule-color);

  .badge-cmp,
  .tagcmp {
    padding: 1rem 2rem;

    @media screen and (max-width: 768px) {
      padding: 0.5rem 1rem;
    }

    @media screen and (max-width: 450px) {
      padding: 0.2rem 0.5rem;
    }
  }
  .tagcmp {
    flex-direction: column;
    .second-text {
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }
    .page-header__scroll {
      position: absolute;
      bottom: -20px;
      // left: 220px;
      transform: translateX(-50%);
      font-size: 0.75rem;
      color: #919795;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
      text-transform: uppercase;

      &::after {
        content: "";
        transform-origin: bottom center;
        position: absolute;
        width: 1px;
        height: 50vh;
        left: 30px;
        top: calc(100% + 20px);
        background: var(--gray-color);
        opacity: 0.45;
        animation: vLineIn 1s ease-in-out 1.5s backwards;
      }
    }
  }

  .title-name {
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
    @media screen and (max-width: 1200px) {
      font-size: 3.75rem;

      line-height: 3.75rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2.75rem;

      line-height: 2.75rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.625rem;

      line-height: 1.625rem;
    }
  }
  @media screen and (max-width: 1200px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.app__header-svg {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  .amanSvg {
    width: 100%;
    object-fit: contain;
    z-index: 2;
    position: relative;
    right: 150px;

    @media screen and (max-width: 1200px) {
      right: 0;
      svg {
        width: 400px;
        height: 433px;
      }
    }
    @media screen and (max-width: 450px) {
      right: 0;
      svg {
        width: 300px;
        height: 333px;
      }
    }
  }
}

.transition {
  transition: transform 300ms ease-out;
}
