@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --font-base: "Bitter", sans-serif;
  --purple-color: #7f00e0;
  --sea-green-color: #aadcec;
  --sea-green-dark: #73bbc5;
  --white-blue-color: #f4f9fc;
  --dark-navy-bule-color: hsl(231, 73%, 22%);
  --gray-color: #919795;
  --black-color: #030303;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
